nav a {background-color:#522c8f; color:#e5f5fd}
.navbar {background-color:#522c8f; color:#e5f5fd}
.navbar-nav > li > a {color: #e5f5fd;font-family:futura}
.navbar-nav a:hover {color: #5ca820 !important; background-color:#522c8f !important}
.dropdown {color:#522c8f}
.dropdown-toggle {background-color:#522c8f !important}
.dropdown-menu {color:#522c8f !important; background-color:#fff !important; font-family:futura}
.dropdown-menu >li > a {color:#522c8f !important; background-color:#fff !important; font-family:futura; font-weight:bold}
.dropdown-menu >li > a:hover {color:#5ca820 !important; background-color:#522c8f !important; font-family:futura; font-weight:bold}
.navbar-toggle {background-color:#e5f5fd}
.navbar .navbar-toggle .icon-bar {background-color: #522c8f;}
.btn .btn-primary > a {margin-left: auto; margin-right: auto; font-family:Futura, "Trebuchet MS", Arial, sans-serif;}
.header {margin-left: auto; margin-right: auto; margin-bottom: 0}

@font-face { font-family: "Kimberley"; src: url(http://www.princexml.com/fonts/larabie/ » kimberle.ttf) format("truetype"); } h1 { font-family: "Kimberley", sans-serif }
@font-family-base {font-family:Futura, "Trebuchet MS", Arial, sans-serif;}
@media all and (max-width: 2040px) { /* screen size until 1200px */
    table {
        font-size: 1.5em; /* 1.5x default size */
    }
}
@media all and (max-width: 1200px) { /* screen size until 1200px */
    table {
        font-size: 1.3em; /* 1.3x default size */
    }
}
@media all and (max-width: 1000px) { /* screen size until 1000px */
    table {
        font-size: 1.0em; /* 1.0x default size */
        }
    }
@media all and (max-width: 700px) { /* screen size until 500px */
    table {
        font-size: 0.8em; /* 0.8x default size */
        }
    }
.f{font-family:"futura";}

.green {background-color:#5ca820 !important; color:#fff !important; margin-bottom:0px}
.purple {background-color:#522c8f; color:#e5f5fd; margin-top:0px; margin-bottom:0px}
.blue {background-color:#4460a8; color:#e5f5fd; margin-top:0px; margin-bottom:0px}
.ltblue {background-color:#e5f5fd;margin-top:0px; margin-bottom:0px}
.red {background-color:#ed341f;margin-top:0px; margin-bottom:0px}
.white {background-color:#fff;margin-top:0px; margin-bottom:0px}
.center {text-align:center}
#keynotes {padding-top:1%; padding-left:5%; padding-right:5%}
#sessionFormat{padding-top:1%; padding-left:5%; padding-right:5%}
#maps{padding-top:1%; padding-left:5%; padding-right:5%}
footer { position: fixed; bottom: 0; width:100%}
.center {margin-left:auto; margin-right:auto; vertical-align: middle}
.padding10 {padding-left:10%; padding-right:10%;}
.hrThick {height:3px; background-color:#e5f5fd}
.caption{font-size:1.2em}
.left {text-align:left !important;}

table .header-fixed {
  position: fixed;
  top: 40px;
  z-index: 1020; /* 10 less than .navbar-fixed to prevent any overlap */
  border-bottom: 1px solid #d5d5d5;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
  -webkit-box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0,0,0,.1);
     -moz-box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0,0,0,.1);
          box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0,0,0,.1);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false); /* IE6-9 */
}

th {font-family:"futura"; text-align:center; font-weight:bold} 
td {font-family:"futura"; text-align:center} 

.gci{background-color:#566fb0; }
.redtxt{color:#f9c2bb}

body {background-color:#e5f5fd}
.card {padding:5%; margin-bottom:5%}
.register  {background-color:#ed341f;color:#000;margin-top:0px; margin-bottom:0px}

.equal{
    margin-bottom: float;
    padding-bottom: float;    
}
.scrollspy-example {
position: relative;
height: 1000px;
margin-top: 10px;
overflow: auto;
overflow-x: auto;
overflow-y: auto;
}